{%extends 'generator/base.html'%}

{%block content%}

<div class = "text-center">
    <h1>Generador de Contraseñas</h1>
    <p>Nuestro <strong>generador de contraseñas</strong> es una aplicacion sencilla para poner en practica nuestros conocimientos como Backend Developer</p>
    <hr>
    <h2>Funcionamiento</h2></div>
<hr>
<p>En nuestra app puedes elegir la longitud de caracteres que quieres que compongan tu contraseña, seguido de esto puedes seleccionar que tipo de caracter quieres incluir en tu contraseña, los caracteres en minuscula estan por defecto, es decir si no seleccionas ningun boton tu contraseña estara compuesta solo por caracteres en minuscula, puedes incluir cualquier otro tipo de caracter seleccionando el switch que corresponde, puede ser solo uno, dos o todos.</p>

<hr>
<footer>
    
    <h4>Redes Sociales</h4>
    <ul>
        <li><a class = "text-light text-decoration-none" href="https://twitter.com/madriz03">Twitter</a></li>
        
        <li><a class = "text-light text-decoration-none float" href="https://www.linkedin.com/in/javiermadriz3/">Linkedin

        </a></li>
        <li><a class = "text-light text-decoration-none float" href="https://twitter.com/madriz03">Github</a></li>
    </ul>
</footer>
{%endblock%}