{% extends "generator/base.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    {% block content%}
    <div class="col-md-4 offset-md-4">
    <div class="card card-body bg-dark text-center">

    <h1>Password</h1>
    <p>{{password_generator}}</p>
    
    {% endblock %}
</div>
</div>
</body>
    
</html>